<div class="modal">

  <div class="head">
    <button ion-button icon-only (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </button>
  </div>

  <div class="content">

    <h1>{{text.title}}</h1>
    <p>{{text.content}}</p>

    <div class="modal-background"></div>

  </div>

</div>
