.modal {
  padding: 0;
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index must be below .modal and above everything else  */
  z-index: 1000;
}

.modal .head {

  div {
    opacity: 1;
  }

  button {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    background-color: #1b72b9;
  }

  height: 50px;
  background-color: rgba(10,10,10,0.95);
  position: fixed;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal .content {
  background-color: rgba(0,0,0,0.92);
  font-size: 20px;
  /* modal background fixed across whole screen */
  position: fixed;
  padding: 20px;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;

  /* let it scroll */
  overflow: auto;

  img {
    //opacity: 1.0;
  }

  h1 {
    color: white;
  }

  p {
    color: white;
    font-size: 15px;
    font-style: normal;
    opacity: 0.8;
  }
}
