modal-logs{
  .journey, .contact-message{
    margin:5px;
  }
  .contact-message:nth-child(even), .journey:nth-child(even){
    background-color:rgba(0,0,255,0.1);
  }

  .contact-message:nth-child(odd), .journey:nth-child(odd){
    background-color:rgba(255,0,0,0.1);
  }
}