<ion-header class="nowidrive-header">
  <p class="nowidrive-header-title">Logs</p>
  <ion-icon class="nowidrive-header-button right tappable" name="close" (click)='closeModal()'></ion-icon>
</ion-header>

<ion-content no-bounce>
  <div *ngIf="valueTest">YOUHOUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU</div>
  <div *ngIf="!valueTest">OH...................................</div>
  <h1>Journeys</h1>
  <div class="journeys">
    <div class="journey" *ngFor="let journey of journeys">
      <ul>
        <li>
          DATE : {{journey.date}} 
        </li>
        <li>
          CAUSE : {{journey.cause}} 
        </li>
        <li>
          DISTANCE : {{journey.distance}} 
        </li>
        <li>
          DUREE : {{journey.duration}}
        </li>
      </ul>
    </div>
  </div>
  <h1>Contact messages</h1>
  <div class="contact-messages">
    <div class="contact-message" *ngFor="let contactMessage of contactMessages">
      <ul>
        <li>
          contact
          <ul>
            <li>ID : {{contactMessage.contact.id}}</li>
            <li>NOM : {{contactMessage.contact.name}}</li>
            <li>NUMEROS : <pre>{{contactMessage.contact.numeros}}</pre></li>
          </ul>
        </li>
        <li>MESSAGE : {{contactMessage.message}}</li>
      </ul>
    </div>
  </div>
</ion-content>