<ion-header class="nowidrive-header">
  <p class="nowidrive-header-title">Home</p>
  <div class="menu-button-left" menuToggle>
    <ion-icon class="header-dots" name="md-more"></ion-icon>
  </div>
  <div (click)="shareScore()" class="menu-button-right">
    <ion-icon class="share-button" name="share"></ion-icon>
  </div>
</ion-header>

<ion-content no-bounce>
  <button class="start-journey primary tappable" (click)="startJourney()">Démarrer un trajet</button>
  <div class="stats">
    <p>Score actuel : {{distanceScore | niceNumber}} km</p>
    
  </div>
</ion-content>
