page-settings{

  .content-wrapper{
    padding-top:15px;
    
    .add-message{
      margin-bottom: 10px;
    }
  }

  .messages-wrapper{
    .icon-edit{
      font-size:25px;
      margin-left: 5px;
    }

    .message-global{
      padding: 15px 10px;

      &:nth-child(odd){
        background:rgba(27,114,185,0.1);
      }

      &:nth-child(even){
        background:rgba(27,114,185,0.2);
      }

      .message-target{
        font-size:19px;
        font-weight:normal;
        margin-bottom:15px;
      }
    }
    
  }



}
