<ion-header class="nowidrive-header">
  <p class="nowidrive-header-title">Réglages</p>
  <div class="menu-button-left" menuToggle>
    <ion-icon class="header-dots" name="md-more"></ion-icon>
  </div>
</ion-header>

<ion-content no-bounce>
  <div class="content-wrapper">
    <button class="button add-message tappable primary" (click)="displayAddContactMessageAlert()">Ajouter un nouveau message</button>
    <div class="messages-wrapper">
      <div class="message-global">
        <h3 class="message-target">
            Message par défaut
            <ion-icon class="icon-edit" name="create" (click)="displayEditMessageAlert(-1, true)"></ion-icon>
        </h3>
        <p class="message-content">
        {{ defaultMessage ? defaultMessage : "Pas de message par défaut"}}
         </p>
      </div>
      <div *ngFor="let contactMessage of contactMessages , let i = index " class="message-global">
        <h3 class="message-target">
          {{contactMessage.contact.name}}
            <ion-icon class="icon-edit" name="create" (click)="displayEditMessageAlert(i, false)"></ion-icon>
        </h3>
        <p class="message-content">
        {{contactMessage.message}}
         
         </p>
      </div>
    </div>
    
  </div>
</ion-content>