<ion-header class="nowidrive-header">
  <p class="nowidrive-header-title">Trajet</p>
  <ion-icon class="nowidrive-header-button right tappable" name="close" (click)='closeModal()'></ion-icon>
</ion-header>

<ion-content no-bounce>
  <div class="content-wrapper">

    <button class="big-button primary tappable stop-journey" *ngIf="!journeyStarted" (click)="startJourney()">Démarrer</button>

    <button class="big-button primary tappable start-journey" *ngIf="journeyStarted" (click)="stopJourney()">Arrêter</button>

    <div *ngIf="journeyStarted" class="elapsed-time">
      <p>Trajet en cours... <span class="seconds">{{elapsedTime | niceNumber : "milliseconds-time"}}</span></p>
    </div>

    <div class="calls">
      <h2 *ngIf="receivedCalls.length > 0">Appels manqués ({{receivedCalls.length}})</h2>
      <div class="call" *ngFor="let receivedCall of receivedCalls ; let i = index ">
          <span class="caller">
            {{receivedCall.caller}}
          </span>
          <span class="hour">
            ({{receivedCall.time | niceTime }})
          </span>
          <span class="check">
            <ion-icon *ngIf="receivedCall.answered" name="checkmark"></ion-icon>
          </span>
          <p (click)="hideNotif(i, 'call')" class="notif hide-notif"><ion-icon name="close"></ion-icon></p>
          <p (click)="sendMessage(i, 'call')" class="notif answer-notif"><ion-icon name="call"></ion-icon></p>
      </div>
    </div>

    <div class="messages">
      <h2 *ngIf="receivedMessages.length > 0">Messages reçus ({{receivedMessages.length}})</h2>
      <div class="message" *ngFor="let receivedMessage of receivedMessages ; let i = index ">
        <div class="metas-message">
          <span class="sender">
            {{receivedMessage.sender}}
          </span>
          <span class="hour">
            ({{receivedMessage.time | niceTime}})
          </span>
          <span class="check">
            <ion-icon *ngIf="receivedMessage.answered" name="checkmark"></ion-icon>
          </span>
          <p (click)="hideNotif(i, 'message')" class="notif hide-notif"><ion-icon name="close"></ion-icon></p>
          <p (click)="sendMessage(i, 'message')" class="notif answer-notif"><ion-icon name="send"></ion-icon></p>
        </div>
        <p class="content-notif">{{receivedMessage.content}}</p>
      </div>
    </div>

  </div>
</ion-content>
