modal-journey{
  .content-wrapper{
    padding-top:20px;
    padding-left : 10px;
    padding-right: 10px;

    .big-button{
      font-size: 30px;
      font-weight: 200;
      padding : 30px 50px;
    }

    .elapsed-time{
      margin-top:20px;
      font-size: 20px;
      text-align:center;

      .seconds{
        display:block;
        font-size:25px;
      }
    }

    .messages, .calls{
      .caller, .sender {
        font-weight: bold;
      }

      .check{
        display:inline-block;
        font-size:20px;
        width:20px;
        height:20px;
        margin-left:5px;
        color: rgba(50,125,25,1)
      }

      .hide-notif, .answer-notif {
        display:inline-block;
        font-size: 20px;
        padding:4px;
      }

      .answer-notif{
        margin-left:5px;
      }

      .notif{
        background-color:rgba(255,255,255,0.5);
        width:36px;
        height:36px;
        border-radius: 18px;
        text-align:center;
      }
    }


    .messages {
      margin-top: 25px;

      .message{
        background-color:rgb(102, 185, 191);
        margin-top:5px;
        padding: 10px;
        border-radius: 5px;
      }

      .metas-message{
        //font-size: 20px;
      }
    }

    .calls {
      margin-top: 25px;

      .call{
        background-color:rgb(238, 170, 123);
        margin-top:5px;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }
}