.nowidrive-header {
  position: relative;
  height: 50px;
  width : 100%;
  background-color: #1b72b9;
}

.nowidrive-header-title {
  position: absolute;
  width : 100%;
  height: 100%;
  padding-left : 50px;
  padding-right: 50px;
  text-align    : center;
  text-transform: uppercase;
  font-size  : 16px;           
  font-weight: 300;
  letter-spacing: 3px;
  font-size  : 1.8em;
  font-weight: 500;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #FFFFFF;
}

.tappable:active{
  &.primary{
    background-color:rgba(27,114,185,0.3);
  }
}

button, .button{
  display:block;
  margin: auto;
  padding:15px;
  border-radius:5px;
  font-size:15px;
}

.test{
  width:30px;
  height:30px;
  position: absolute;
  left:0;
  top:0;
  z-index:1000;
}

.primary {
  background-color:rgba(27,114,185,0.7);
}

.nowidrive-menu{
  font-size : 2em;
  vertical-align: center;
}

.menu-button-left {
  position: absolute;
  width: 60px;
  height: 100%;
  border-radius: 10px;
    left: 0;
  .header-dots {
    width : 50px;
    height: 100%;
    border-radius: 100%;
    padding-left: 10px;
    font-size: 28px;
    text-align: left;
    line-height: 50px;
    color: #FFFFFF;
  }
}

*, h1, h2, h3, h4, h5, p {
  padding: 0;
  margin : 0;
}

.menu-button-right {
  position: absolute;
  width: 60px;
  height: 100%;
  border-radius: 10px;
    right: 0;
  .share-button {

    width : 50px;
    height: 100%;
    padding-right: 10px;
    font-size: 28px;
    text-align: right;
    line-height: 50px;
    color: #FFFFFF;
  }
}

.nowidrive-header-button {
  position: absolute;
  width : 50px;
  height: 100%;
  border-radius: 100%;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}

p {
  margin: 0;
  padding: 0;
}

