<ion-menu [content]="content">

  <ion-header class="nowidrive-header">
    <div (click)="openLogs()" class="test"></div>
    <p class="nowidrive-header-title">Menu</p>
  </ion-header>

  <ion-content class="nowidrive-menu">
    <button ion-item class="item-menu" menuToggle (click)="goToHome()">
      Home
    </button>
    <button ion-item class="item-menu" menuToggle (click)="goToSettings()">
      Réglages
    </button>
    <button ion-item class="item-menu" menuToggle (click)="goToAccount()">
      Gestion du compte
    </button>
  </ion-content>

</ion-menu>


<ion-nav #content swipeBackEnabled="false"></ion-nav>
