<ion-header class="nowidrive-header">
  <p class="nowidrive-header-title">Mon compte</p>
  <div class="menu-button-left" menuToggle>
    <ion-icon class="header-dots" name="md-more"></ion-icon>
  </div>
</ion-header>

<ion-content no-bounce>
  <div class="account-wrapper">
    <div (click)="displayEditMailAlert()" class="global-item mail-global">
      <h3>Adresse e-mail</h3>
      <p>{{user.mail}}</p>
    </div>
    <div (click)="displayEditInsuranceAlert()" class="global-item assurance-global">
      <h3>Nom de l'assurance</h3>
      <p>{{user.insurance}}</p>
    </div>
  </div>
</ion-content>
